In [ ]:
# ICV, impacto,

In [2]:
import pandas as pd
from utils import calcular_inventario, coluna_fantasma, criterio_de_corte, alocar

In [3]:
method = 2

In [4]:
inputed = pd.read_excel('entradas.xlsx')
inputed.fillna(0, inplace=True)

In [5]:
ncols = len(inputed.columns)
nprods = len(inputed)
nprocessos = ncols - 3
processos = [f'P{i}' for i in range(1,nprocessos+1)]

In [6]:
dfA = inputed[inputed['Intermediário']==1][['Produto'] + processos].copy()
dfA.set_index('Produto', inplace=True)
dfA

           P1   P2
Produto
coque    1.00 -0.4
aço     -0.04  3.0
fofo     0.00  1.0

In [7]:
dfB = inputed[inputed['Intermediário']==0][['Produto'] + processos].copy()
dfB.set_index('Produto', inplace=True)
dfB

            P1   P2
Produto
carvão  -1.000  0.0
co2      0.500  2.0
nox      0.002  7.0

In [8]:
dfK = inputed[inputed['Intermediário']==1][['Produto', 'Fluxo de referência']].copy()
dfK.set_index('Produto', inplace=True)
dfK

         Fluxo de referência
Produto
coque                    0.0
aço                   1610.0
fofo                     0.0

In [9]:
if nprocessos<len(dfA):
    print(f'Matriz A não é quadrada pois existem {len(dfA)} produtos e somente {nprocessos} processos.')

Matriz A não é quadrada pois existem 3 produtos e somente 2 processos.

### OPÇÃO 1: COMPLETAR COM LINHA DA MATRIZ IDENTIDADE

In [10]:
dfa, dfb, dfk = coluna_fantasma(dfA, dfB, dfK, nprocessos)

In [11]:
inva, bma, M = calcular_inventario(dfa,dfb,dfk)
M

            Emissão
carvão  -215.817694
co2     1186.997319
nox     3777.241287

### OPÇÃO 2: CRITÉRIO DE CORTE (JOGAR UM PRODUTO PARA FLUXO ELEMENTAR)

In [12]:
corte = 'fofo'
dfa, dfb, dfk = criterio_de_corte(dfA, dfB, dfk, corte)

In [13]:
inva, bma, M = calcular_inventario(dfa,dfb,dfk)
M

            Emissão
carvão  -215.817694
co2     1186.997319
nox     3777.241287
fofo     539.544236

### OPÇÃO 3: ALOCAR

In [14]:
processo = 2
elemento1 = 'aço'
elemento2 = 'fofo'
dfa, dfb, dfk = alocar(dfA, dfB, dfK, nprocessos, processo, elemento1, elemento2)

In [15]:
inva, bma, M = calcular_inventario(dfa,dfb,dfk)
M

            Emissão
carvão  -161.646586
co2      889.056225
nox     2829.138554